configuration {
  drun {
    display-name: "";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "";
  }

  timeout {
    delay: 10;
    action: "kb-cancel";
  }
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;

  bg: #242424;
  bg-alt: #080808;
  fg: #FAFAFA;
  fg-alt: #808080;

  background-color: @bg-alt;
  text-color: @fg;
}

window {
  anchor: north;
  location: north;
  y-offset: 40%;
  width: 20%;
  transparency: "real";
  border-radius: 24px;
  border: 1px;
  border-color: #333333;
  background-color: @bg;
}

mainbox {
  children: [inputbar, listview];
}

inputbar {
  padding: 10px 10px;
  background-color: @bg-alt;
  children: [entry];
}

entry {
  background-color: @bg-alt;
  padding: 12px 3px;
}

listview {
  border-color: @bg-alt;
  border: 10px;
  border-radius: 24px;
  require-input: true;
  dynamic: true;
  fixed-height: false;
  lines: 8;
}

element {
  children: [element-icon, element-text];
  background-color: @bg;
}

element-icon {
  background-color: inherit;
  padding: 10px 10px;
}

element-text {
  background-color: inherit;
  padding: 10px 0;
  text-color: @fg-alt;
}

element-text selected {
  text-color: @fg;
}
